.EmployeeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HeadingWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Heading {
    text-align: center;
}

.AddEmployee {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.AddEmployeeButton {
    all: unset;
    border-radius: 5px;
    background-color: #9932cc;
    color: white;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    padding: 15px;
    margin: 15px;
}

.AddEmployeeButton:hover {
    top: -10px;
}
